.formBody {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	align-content: space-around;
}

.Create {
    height: 80vh;
    width: 87vw;
    /* display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch; */
    margin-top: 10vh;
    box-shadow: 0 0 20px #333;
    background-color: #F9F9F9
    
}

#formTitle {

}

.formHeader {
    display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 5px;
}

.condition {
    display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 5px;
}

.formFooter {
    position: fixed;
    top: 765px;
    width: 100vw;
    height: 6vh;
    position: fixed;
    background-color: #3F64A6;
    box-shadow: 10px 0 20px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.formButton {
    font-size: 16px;
}