.App {
	background-color: #111E37;
  	text-align: center;
  	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
	position: static;
	height: 150vh;
}

.mainBody {
	position: fixed;
	top: 15px;
	height: 100vh;
	width: 100%;

}

